<div class="container">
    <app-login-prompt class="login-prompt"></app-login-prompt>
    <div class="ad-wrapper">
        <div class="image-wrapper">
            <img src="/assets/car.jpeg" alt="">
        </div>
        <div class="content-buttons-wrapper">
            <div class="content-wrapper">
                <p class="brand-model">Subaru Impreza 22b</p>
                <div class="year-wrapper wrapper">
                    <p class="year-label label">Year:</p>
                    <p class="year">2000</p>
                </div>
                <div class="mileage-wrapper wrapper">
                    <p class="mileage-label label">Mileage:</p>
                    <p class="mileage">100,000</p>
                </div>
                <div class="horsepower-wrapper wrapper">
                    <p class="horsepower-label label">Horsepower:</p>
                    <p class="horsepower">300</p>
                </div>
                <div class="description-wrapper wrapper">
                    <p class="description-label label">Description:</p>
                    <p class="description"></p>
                </div>
                <div class="price-wrapper wrapper">
                    <p class="price-label label">Price:</p>
                    <p class="price">100000 BGN</p>
                </div>
                <div class="phoneNumber-wrapper wrapper">
                    <p class="phoneNumber-label label">Phone number of seller:</p>
                    <p class="phoneNumber">test</p>
                </div>
                <div class="location-wrapper wrapper">
                    <p class="location-label label">Location of vehicle</p>
                    <p class="location">Sofia</p>
                </div>
                <div class="isNew-wrapper wrapper">
                    <p class="isNew-label label">Is the vehicle new:</p>
                    <p class="isNew">No</p>
                </div>
            </div>
            <div class="control-buttons">
                <a class="edit-ad">Edit Ad</a>
                <a class="delete-ad">Delete Ad</a>
            </div>
        </div>
    </div>
</div>
