<div class="container">
    <div class="profile-wrapper">
        <div class="profile-img-wrapper" >
            <img src="/assets/road.jpg" alt="" class="profile-img">
        </div>
        <div class="user-information-wrapper">
            <div class="username user-info-div">
                <p class="label username-label">Username:</p>
                <p class="username user-info">{{username}}</p>
            </div>
            <div class="email user-info-div">
                <p class="label email-label">E-mail:</p>
                <p class="email user-info">{{email}}</p>
            </div>
            <div class="phoneNum user-info-div">
                <p class="label phoneNum-label">Phone number:</p>
                <p class="phoneNum user-info">{{phoneNum}}</p>
            </div>
        </div>
        <div class="user-info-buttons">
            <button routerLink='./edit' class="manage-profile">Manage Profile</button>
        </div>
    </div>
</div>
