<div class="container">
    <div class="profile-img-wrapper" >
        <img src="/assets/road.jpg" alt="" class="profile-img">
    </div>
    <div class="user-information-wrapper">
        <div class="username user-info-div">
            <p class="label username-label">Username:</p>
            <p class="username user-info">test</p>
        </div>
        <div class="email user-info-div">
            <p class="label email-label">E-mail:</p>
            <p class="email user-info">test</p>
        </div>
        <div class="phoneNum user-info-div">
            <p class="label phoneNum-label">Phone number:</p>
            <p class="phoneNum user-info">test</p>
        </div>
    </div>
    <div class="user-info-buttons">
        <button class="manage-profile">Manage Profile</button>
        <button class="delete-profile">Delete Profile</button>
    </div>
</div>
