<div class="container">
    <div class="no-posted-ads" *ngIf = 'arrOfMyAds.length == 0'>
        <p>You haven't posted any ads. Go to <a routerLink='/create'>create</a> to create a new ad. It's free!</p>
    </div>
    <div class="ads-place" *ngIf = 'arrOfMyAds.length > 0'>
        <div class="ad-wrapper" *ngFor='let ad of arrOfMyAds'>
            <a routerLink="/details/{{ad.getId()}}">
                <div class="ad-image-wrapper ad">
                    <img class="ad-image" src= {{ad.getImageLink()}}>
                </div>
                <div class="ad-content-wrapper ad">
                    <div class="ad-content-main-text">
                        <p class="brand-model">{{ad.getBrand()}} {{ad.getModel()}}</p>
                        <p class="location">{{ad.getLocation()}}</p> 
                        <div class="group-wrapper">
                            <div class="first-group">
                                <div class="mileage-group info">
                                    <label for="mileage">Mileage:</label>
                                    <p class="mileage">{{ad.getMileage()}} km</p>
                                </div>
                                <div class="horsepower-group info">
                                    <label for="horsepower">Horsepower:</label>
                                    <p class="horsepower">{{ad.getHorsepower()}} BHP</p>
                                </div>
                                <div class="year-group info">
                                    <label for="year">Year:</label>
                                    <p class="year">{{ad.getYear()}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



