<div class="header">
    <div class="logo-wrapper">
        <a routerLink="/browse">
            <p class='logo-text-first logo'>Car</p>
            <p class='logo-text-second logo'>Dealer.com</p>
        </a>
    </div>
    <div class="nav-wrapper">
        <nav>
            <ul class="nav-links-list">
                <li *ngIf="!isLogged"><a routerLink='login'>Login</a></li>
                <li *ngIf="!isLogged"><a routerLink='register'>Register</a></li>
                <li><a routerLink='browse'>Browse</a></li>
                <li *ngIf="isLogged"><a routerLink='create'>Create</a></li>
            </ul>
            <ul *ngIf="isLogged" class="secondary-nav-links-list">
                <li><a routerLink='myAds'>My Ads</a></li>
                <li><a routerLink='favorites'>Favorites</a></li>
                <li><a routerLink='profile'>Profile</a></li>
                <li><a (click) = "logOut()">Log out</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-about">
        <p>All Rights Reserved</p>
    </div>
</div>