<div class="container">
    <div class="ads-place">
        <div class="ad-wrapper" *ngFor = 'let ad of favoriteAdsOfUser'>
            <a routerLink="/details/{{ad.getId()}}">
                <div class="ad-image-wrapper ad">
                    <img class="ad-image" src={{ad.getImageLink()}} alt="">
                </div>
                <div class="ad-content-wrapper ad">
                    <div class="ad-content-main-text">
                        <p class="brand-model">{{ad.getBrand()}} {{ad.getModel()}}</p>
                        <p class="location">{{ad.getLocation()}}</p> 
                        <div class="group-wrapper">
                            <div class="first-group">
                                <div class="mileage-group info">
                                    <label for="mileage">Mileage:</label>
                                    <p class="mileage">{{ad.getMileage()}} km</p>
                                </div>
                                <div class="horsepower-group info">
                                    <label for="horsepower">Horsepower:</label>
                                    <p class="horsepower">{{ad.getHorsepower()}} BHP</p>
                                </div>
                                <div class="year-group info">
                                    <label for="year">Year:</label>
                                    <p class="year">{{ad.getYear()}}</p>
                                </div>
                            </div>
                            <div class="second-group">
                                <div class="description-group info">
                                    <label for="description">Description:</label>
                                    <textarea class="description" cols="10" rows="5" readonly>{{ad.getDescription()}}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <p class="price">{{ad.getPrice()}} BGN</p>
                </div>
            </a>
        </div>
    </div>
</div>


