.container{
    background-color: black;
    color: white;
    width: 90%;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

a{
    text-decoration: none;
    color: white;
}

.ads-place{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ads-place .ad-wrapper{
    width: 95%;
    margin: 15px 0;
}

.ad-wrapper{
    display: flex;
    text-decoration: none;
    color: white;
}

.ad-wrapper .ad-image, .ad-wrapper .ad-image-wrapper{
    width: 450px;
    height: 230px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.ad-wrapper .ad-content-wrapper{
    background-color: rgb(36, 36, 36);
    border-radius: 0px 10px 10px 0px;
    width: 80%;
    padding: 5px 10px;
    font-size: 20px;
    letter-spacing: 0.8px;
}

.ad-content-wrapper .ad-content-main-text{
    height: 80%;
}

.ad-content-wrapper .brand-model{
    font-size: 30px;
    color: rgb(255, 174, 0);
}

.ad-content-wrapper .info{
    display: flex;
}

.ad-content-wrapper .info label{
    margin-right: 5px;
}

.ad-content-wrapper .location{
    margin-bottom: 12px;
}

.ad-content-main-text .group-wrapper{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.group-wrapper .first-group{
    flex-basis: 20%;
}

.group-wrapper .second-group{
    flex-basis: 80%;
    max-height: 20px;
}

.second-group .description{
    width: 60%;
    height: 130px;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.second-group .description::-webkit-scrollbar{
    width: 15px;
}

.second-group .description::-webkit-scrollbar-button:start{
    border: 2px solid rgb(255, 174, 0);
    border-radius: 10px 10px 0px 0px;
}

.second-group .description::-webkit-scrollbar-button:end{
    border: 2px solid rgb(255, 174, 0);
    border-radius: 0px 0px 10px 10px;
}

.second-group .description::-webkit-scrollbar-thumb{
    background-color: transparent;
    border: 2px solid rgb(255, 174, 0);
}

.no-favorites{
    height: 100vh;
    display: flex;
    align-items: center;
}

.no-favorites p,.no-favorites a{
    font-size: 30px;
    text-decoration: none;
}

.no-favorites a{
    color: rgb(255, 174, 0);
}

.no-favorites a:hover{
    color: white;
}

.title-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-button button{
    border: 3px solid rgb(255, 174, 0);
    font-family: 'Bebas Neue', cursive;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    width: 200px;
    font-size: 18px;
    margin-top: 5px;
}
