.container{
    background-color: black;
    color: white;
    width: 90%;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.ads-place{
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;
}

.ads-place .ad-wrapper{
    margin: 2% 3%;
}

.ads-place .ad-wrapper a{
    text-decoration: none;
    color: white;
}

.ads-place .ad-image{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.ad-image-wrapper{
    height: 200px;
}

.ad-content-wrapper{
    font-size: 18px;
    background-color: rgb(36, 36, 36);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.ad-content-wrapper .brand-model{
    font-size: 22px;
    color: rgb(255, 174, 0);
}

.ad-content-wrapper .price{
    text-align: end;
}

.ad-content-wrapper .ad-content-main-text{
    margin-bottom: 20px;
}