<div class="container">
    <app-login-prompt></app-login-prompt>
    <div class="ads-place">
        <div class="ad-wrapper">
            <a routerLink="/details">
                <div class="ad-image-wrapper ad">
                    <img class="ad-image" src="/assets/car.jpeg" alt="">
                </div>
                <div class="ad-content-wrapper ad">
                    <div class="ad-content-main-text">
                        <p class="brand-model">Subaru Impreza 22B</p>
                        <p class="location">Sofia</p>
                        <p class="mileage">100.000 km</p>
                    </div>
                    <p class="price">100000 BGN</p>
                </div>
            </a>
        </div>
        <div class="ad-wrapper">
            <a routerLink="/details">
                <div class="ad-image-wrapper ad">
                    <img class="ad-image" src="/assets/car.jpeg" alt="">
                </div>
                <div class="ad-content-wrapper ad">
                    <div class="ad-content-main-text">
                        <p class="brand-model">Subaru Impreza 22B</p>
                        <p class="location">Sofia</p>
                        <p class="mileage">100.000 km</p>
                    </div>
                    <p class="price">100000 BGN</p>
                </div>
            </a>
        </div>
        <div class="ad-wrapper">
            <a routerLink="/details">
                <div class="ad-image-wrapper ad">
                    <img class="ad-image" src="/assets/car.jpeg" alt="">
                </div>
                <div class="ad-content-wrapper ad">
                    <div class="ad-content-main-text">
                        <p class="brand-model">Subaru Impreza 22B</p>
                        <p class="location">Sofia</p>
                        <p class="mileage">100.000 km</p>
                    </div>
                    <p class="price">100000 BGN</p>
                </div>
            </a>
        </div>
        <div class="ad-wrapper">
            <a routerLink="/details">
                <div class="ad-image-wrapper ad">
                    <img class="ad-image" src="/assets/car.jpeg" alt="">
                </div>
                <div class="ad-content-wrapper ad">
                    <div class="ad-content-main-text">
                        <p class="brand-model">Subaru Impreza 22B</p>
                        <p class="location">Sofia</p>
                        <p class="mileage">100.000 km</p>
                    </div>
                    <p class="price">100000 BGN</p>
                </div>
            </a>
        </div>
    </div>
</div>

