.container{
    color: white;
    font-family: 'Bebas Neue', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login{
    background: black;
    border-radius: 10px;
    padding: 40px 20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.email{
    margin-top: 10px;
}
button{
    width: 20%;
    font-size: 18px;
}
input{
    width: 250px;
    height: 40px;
    padding: 0px 20px;
    font-size: 18px;
}
button, input{
    border: 3px solid rgb(255, 174, 0);
    font-family: 'Bebas Neue', cursive;
    border-radius: 50px;
    background-color: transparent;
    color: white;
}
input:focus textarea:focus{
    outline: transparent;
    box-shadow: none;
}
.register-center{
    position: relative;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-center a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.register-center a:hover, button:hover{
    color: rgb(255, 174, 0);
}
.loginError{
    color: red; 
    font-size: 18px;
}