<div class="container">
    <form action="" class="login" method="POST">
        <fieldset style="border: 0px;">
            <div class="email field">
                <label for="email">Email:</label>        
                <input type="text" class="email-input" name="" id="">
            </div>
            <div class="password field">
                <label for="password">Password:</label>
                <input type="password" class="password-input">
            </div>
            <button type="submit">Submit</button>
        </fieldset>
        <p class="register-center">
            Don't have an account yet?
            <a routerLink='/register'>Register</a>            
        </p>
    </form>
</div>
