<ng-template #userDoesntExist>
    <p class="loginError">Username or password is wrong!</p>
</ng-template>
<div class="container">
    <form #form='ngForm' action="" class="login" (ngSubmit) = "onSubmit(form)">
        <fieldset>
            <div class="form-group username field">
                <label for="username">username:</label>        
                <input type="text" class="username-input" name="username" id="username" #usernameInput="ngModel" ngModel required>
            </div>
            <div class="form-group password field">
                <label for="password">Password:</label>
                <input type="password" class="password-input" name="password" id="password" #passInput='ngModel' ngModel required>
            </div>
            <button>Submit</button>
        </fieldset>
        <div *ngIf='usernameInput.dirty && usernameInput.errors?.required'>
            <p class="loginError">Username is required to login!</p>
        </div>
        <div *ngIf='passInput.dirty && passInput.errors?.required'>
            <p class="loginError">Password is required to login!</p>
        </div>
        <ng-container *ngTemplateOutlet="userExists? null : userDoesntExist"></ng-container>
        <p class="register-center">
            Don't have an account yet?
            <a routerLink='/register'>Register</a>            
        </p>
    </form>
</div>
